    /* -------------------------------------------------- */
    /* talltabs-orange */
    /* -------------------------------------------------- */
   /* #talltabs-orange {
        clear:left;
        float:left;
        padding:0;
        border-top:0px solid #FF8D3A;
        width:100%;
        overflow:hidden;
        font-family:Georgia, serif;
    }
    #talltabs-orange ul {
        float:left;
        margin:0;
        padding:0;
        list-style:none;
        position:relative;
        left:50%;
        text-align:center;
    }
    #talltabs-orange ul li {
        display:block;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        position:relative;
        right:50%;
    }
    #talltabs-orange ul li a {
        display:block;
        float:left;
        margin:0 1px 0 0;
        padding:10px 10px 6px 10px;
        background:#E2491D;
        text-decoration:none;
        color:#fff;
    }
    #talltabs-orange ul li a:hover {
        padding:15px 10px 6px 10px;
    }
    #talltabs-orange ul li.active a,
    #talltabs-orange ul li.active a:hover {
        padding:15px 10px 6px 10px;
    }
*/
#banner1
{
    float:left;
    margin-top: 250px;
    margin-left: 15%;
    width:30%;
    height: 30%;
    padding : 10px;
    font-size : 13px;
    background:#ddddff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    box-shadow: 7px 7px 5px #888;
    -moz-box-shadow: 7px 7px 5px #888;
    -webkit-box-shadow: 7px 7px 5px #888;
}

#banner2
{
    float:right;
    margin-top: 250px;
    margin-right: 15%;
    width:30%;
    height: 30%;
    padding : 10px;
    font-size : 13px;
    background:#ddddff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    box-shadow: 7px 7px 5px #888;
    -moz-box-shadow: 7px 7px 5px #888;
    -webkit-box-shadow: 7px 7px 5px #888;
}

#rounded-corner
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 40px;
    width: 700px;
    text-align: left;
    border-collapse: collapse;
}

#rounded-corner thead th.rounded-company
{
    background: #b9c9fe url('table-images/left.gif') left -1px no-repeat;
}

#rounded-corner thead th.rounded-q4
{
    background: #b9c9fe url('table-images/right.png') right -1px no-repeat;
}

#rounded-corner th
{
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    background: #b9c9fe;
}

#rounded-corner td
{
    padding: 5px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
}

#rounded-corner tfoot td.rounded-foot-left
{
    background: #e8edff url('presentation/table-images/botleft.png') left bottom no-repeat;
}

#rounded-corner tfoot td.rounded-foot-right
{
    background: #e8edff url('presentation/table-images/botright.png') right bottom no-repeat;
}

#rounded-corner tbody tr:hover td
{
    background: #d0dafd;
}

a.darkLink:link {font-size:12;color:#222222;}      /* unvisited link */
a.darkLink:visited {color:#222222;}  /* visited link */
a.darkLink:hover {color:#222222;}  /* mouse over link */
a.darkLink:active {color:#555555;}  /* selected link */ 
a.darkLink:link {text-decoration:none;}
a.darkLink:visited {text-decoration:none;}
a.darkLink:hover {text-decoration:underline;}
a.darkLink:active {text-decoration:underline;}
a.darklink:link { LINE-HEIGHT: 25px;}

a.searchHits:link {font-size:0.8em;color:#222222;}      /* unvisited link */
a.searchHits:visited {color:#222222;}  /* visited link */
a.searchHits:hover {color:#222222;}  /* mouse over link */
a.searchHits:active {color:#555555;}  /* selected link */ 
a.searchHits:link {text-decoration:none;}
a.searchHits:visited {text-decoration:none;}
a.searchHits:hover {text-decoration:underline;}
a.searchHits:active {text-decoration:underline;}
a.searchHits:link { LINE-HEIGHT: 15px;}

a.broker:link {font-size:0.8em;color:#E2491D; font : 10pt Titilum, Arial,geneva,helvetica;}
a.broker:visited {color:#E2491D;font : 10pt Titilum, Arial,geneva,helvetica;}
a.broker:hover {color:#E2491D;}  /* mouse over link */
a.broker:active {color:#555555;}  /* selected link */ 
a.broker:hover {text-decoration:underline;}
a.broker:active {text-decoration:underline;}
a.broker:link { LINE-HEIGHT: 15px;}



/* #E2491D Orange orange */
/* #676D71 Gray gray */
/* #9BDAE1 Cyan cyan */

a.tablink:link {color:#E2491D;}      /* unvisited link */
a.tablink:visited {color: #E2491D;}  /* visited link */ /* Orange */
a.tablink:hover {color:#E2491D;}  /* mouse over link */ /* Gray */
a.tablink:active {color:#676D71;}  /* selected link */ 
a.tablink:link {text-decoration:none;}
a.tablink:visited {text-decoration:none;}
a.tablink:hover {text-decoration:none;}
a.tablink:active {text-decoration:none;}

a.popularScans:link {color:#ffffff;}      /* unvisited link */
a.popularScans:visited {color:#ffffff;}  /* visited link */
a.popularScans:hover {color:#cccccc;}  /* mouse over link */
a.popularScans:active {color:#222222;}  /* selected link */ 
a.popularScans:link {text-decoration:none;}
a.popularScans:visited {text-decoration:none;}
a.popularScans:hover {text-decoration:underline;}
a.popularScans:active {text-decoration:underline;}

body {
  margin : 0;
  padding : 0;
  border-color : #cc0000;
  background-color : #ffffff;
  color : #000000;
}

p, ul, ol, li {
  font : 10pt Titilum, Arial,geneva,helvetica;
}

h1 {
  font : bold 24pt Arial, Helvetica, geneva;
}

h2 {
  font : bold 12pt Arial, Helvetica, geneva;
}

#footer_left
{
    position : absolute;
    top :620px;
    left : 15%;
    width: 20%;
    height : 140px;
    padding-top : 20px;
    padding-left :10px;
    padding-bottom:10px;
    color : #33;
    font-family : "Titilum";
    font-size : 0.9em;
}
#footer_center
{
    position : absolute;
    top :620px;
    left : 40%;
    width: 20%;
    height : 140px;
    padding-top : 20px;
    padding-left :10px;
    padding-bottom:10px;
    color : #33;
    font-family : "Titilum";
    font-size : 0.9em;
}
#footer_right
{
    position : absolute;
    top :620px;
    right : 15%;
    width: 20%;
    height : 140px;
    padding-top : 20px;
    padding-left :10px;
    padding-bottom:10px;
    color : #33;
    font-family : "Titilum";
    font-size : 0.9em;
}

.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }
.align-center { float:center; margin: 0 15px 15px 0; }
.post-body { display: block; margin-left: auto; margin-right: auto }

#diagram
{
  position : absolute;
  top : 593px;
  left : 30%;
  color : #333;
  background-color : #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

#scans
{
  padding : 0px;
  position : absolute;
  top : 159px;
  left : 20%;
  color : #333;
  background-color : #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

#banner-description
{
  position : absolute;
  top: 10px;
  width : 100%;
  padding : 6 0 0 0;
  height : 96px;
  color : #ffffff;
  background:#333367;
  font-size:5.5em;
  font-family: "Atomic";
  font-weight:normal; 
  line-height : 1;
}




@font-face {
    font-family: 'Miso';
    src: url('fonts/misoregular/miso-webfont.eot');
    src: url('fonts/misoregular/miso-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/misoregular/miso-webfont.woff') format('woff'),
         url('fonts/misoregular/miso-webfont.ttf') format('truetype'),
         url('fonts/misoregular/miso-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titilliumlight';
    src: url('fonts/tit/titilliumtext22l002-webfont.eot');
    src: url('fonts/tit/titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tit/titilliumtext22l002-webfont.woff') format('woff'),
         url('fonts/tit/titilliumtext22l002-webfont.ttf') format('truetype'),
         url('fonts/tit/titilliumtext22l002-webfont.svg#titilliumtext22llight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Titilum;
    src: url('fonts/TitilliumText22L002.otf');
}

#text-menu
{
  position : absolute;
  top: 80px;
  width : 100%;
  height : 1px;
  color : #E2491D;
  background:#ffffff;
  font-size:1.8em;
  font-family: "Miso", "Arial", Sans-Serif;
  font-weight : normal; 
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

TD{font-family: Helvetica Verdana; font-size: 10pt;}

#banner-menu
{ 
  border-top: 1px solid #dddddd;
  position : relative;
  top: 113px;
  width : 80%;
  height : 1px;
  color : #ffffff;
  background:#ffffff;
  font-size:1.0em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-weight : normal; 
  margin-left: auto ;
  margin-right: auto ;
}
 
#predefinedScans
{
  position : relative;
  width:175px; 
  left : 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  top : 200px;
  padding : 10px;
  color : #111111;
  background-color: #b9c9fe;
  -moz-border-radius: 10px;
  border : 1px;
  border-color : black;
  outline:#000000 solid thin;
  -moz-outline-radius: 12px;
}

#predefinedScansBear
{
  position : absolute;
  width : 240px;
  left : 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  top : 490px;
  padding : 10px;
  color : #111111;
  background-color: #b9c9fe;
  -moz-border-radius: 10px;
  border : 1px;
  border-color : black;
  outline:#000000 solid thin;
  -moz-outline-radius: 12px;
}

#popularScans
{
  position : absolute;
  width : 200px;
  right : 40px;
  height : 400px;
  margin-top : 20px;
  top : 183px;
  padding : 20px;
  color : #000000;
  background-color: #dddddd;
  -moz-border-radius: 10px;
  border : 1px;
  border-color : black;
  outline:#000000 solid thin;
  -moz-outline-radius: 12px;
}

#searchBox
{
  position:relative;
  float:right;
  height:25px;
  width:200px;
  padding-left:5px;
  font-size: 15px;
  margin: 0px 6px 0 0; 
}

#dateBox
{
  position:relative;
  float:top;
  height:12px;
  width:90px;
  padding-top:5px;
  font : 10pt Titilum;
/*  font-size: 15px; */
/*  margin: 0px 6px 0 0; */
}
#searchButton
{
  position:relative;
  float:right;
  height:25px;
  width:100px;
  font-size: 15px;
  margin: 0px 6px 0 0; 
}

#content h1, #content h2 {
  color : #DDE6ED;
}

